.h1-cadastro {
    color: white;
}

.cadastro-container {
    background-color: silver;
    display: flex;
    height: 85vh;
}

.entrar-dados {
    padding: 20px;
    margin-left: 50px;
    margin-top: 90px;
}

.entrar-dados label,
.entrar-dados input {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.entrar-dados input {
    width: 500px;
}

.nome {
    margin-left: 26px;
}

.endereco {
    margin-left: -2px;
}

.telefone {
    margin-left: 9px;
}

.email {
    margin-left: 28px;
}

.tipo-sanguineo {
    color: red;
    margin-left: -49px;
}

.senha {
    margin-left: 23px;
}

.tipo-sanguineo input {
    width: 50px;
}

.btn-cadastrar {
    border: none;
    background-color: red;
    margin-top: 250px;
    margin-left: 165px;
    width: 250px;
    height: 80px;
    border-radius: 20px;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.btn-voltar {
    width: 125px;
    height: 40px;
    border: none;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-size: x-large;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 55px;
}
