.h1-home {
    color: black;
}

.h2-banco {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.h2-cadastro {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.h2-sobre {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.home-container {
    background-color: silver;
    display: flex;
    height: 85vh;
}

.home-container div button {
    background-color: red;
    border: none;
    margin-top: 240px;
    margin-left: 150px;
    width: 250px;
    height: 250px;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
}

.cadastro-btn {
    margin-top: -150px;
    margin-left: 50px;
}