body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: silver;
}

.header {
    display: table-cell;
    vertical-align: middle;
    height: 10vh;
    width: 100vw;
    background-color: red;
}

.header h1 {
    text-align: center;
    font-size: 250%;
}
