.h1-home {
    color: black;    
    width: 100%;
}

.h2-banco {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.h2-cadastro {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.h2-sobre {
    color: black;
    transform: rotate(-45deg);
    font-size: 1.5cm;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    height: 50px;
    font-weight: bold;
    font-size: x-large;
    text-align: center;    
    display: flex;
    padding: 1rem;
    margin-right: 1vw;
}

.home-container {
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.home-container div {
    padding: 5rem;
}

.home-container div button {
    background-color: red;
    border: none;
    margin-top: 240px;
    width: 250px;
    height: 250px;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    cursor: pointer;
    border-radius: 0% 50% 50% 50%;
    transform: rotate(45deg);
}

.cadastro-btn {
    margin-top: -150px;
}

.logoff-btn {
    margin-top: 5px;
}
